html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}

scroll {
  display: none;
}

.bg-myBlue {
  /* background-color: rgb(10, 9, 90); */
  background-image: none!important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%;
  height: 30vh !important;
  font-size: x-large !important;   
  }

  /* a.nav-link {
    padding: 1rem;
  } */

.sign {
  background-color: rgba(255, 166, 0, 0.363);
}

.bg-myFooter {
  background-color: rgba(243, 127, 60, 0.849);
  background-image: none!important;
  /* background-size: contain;
  background-repeat: no-repeat;
  background-position: center 15%; */
}

@media (min-width: 1558px) {
  .bg-myFooter {
    background-image: url("./assets/skyline.png") !important;
    background-color: rgba(243, 127, 60, 0.486);
    background-size: contain;
      background-repeat: no-repeat;
      background-position: center 15%;
  }
  
  .bg-myBlue {
    /* background-color: rgb(10, 9, 90); */
    background-image: url("./assets/skyline2.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 60%;
    height: 30vh !important;
    font-size: x-large !important;   
    /* filter: opacity(10%); */
    /* filter: brightness(0%); */
    
  }
}

.footer {
  width: 100% !important;
}

body {
  background-color: rgba(18, 87, 131, 0.623);
}


/* .content {
  padding: 12px;
  height: 3000px;
} */

.logopersona {
  display: flex;
  align-self: flex-end !important;
  /* margin: 1rem; */
}
svg.logoperson {
  height: 2.7rem !important;
  width: 2.7rem !important;

}

a.dropdown-toggle.nav-link {
    margin-right: 2rem !important;
}

a.dropdown-toggle.nav-link::after {
display: none !important ;}

div.dropdown-menu.show {
  background-color:rgba(0, 0, 0, 0);
  margin-right: 2rem !important ;
}

.herowelcome {
  width: 100%;
  background-image: url("./assets/avionnubes.jfif") !important;
  background-position: center !important;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.mostpop {
  font-weight: bold !important;  
  padding-top: 3rem;
  text-decoration: underline;
}

.carousel {
  padding: 1rem;
  margin: 4rem !important;
  /* margin-top: 10rem !important; */
  height: fit-content;
}

.logofooter {
  opacity: 45% !important;
  padding: 0.5rem !important;
}

.navfooter {
  display: flex !important;
  flex-direction: row !important;
  padding: 0.5rem;
  margin-left:20rem;
  font-size: large;
}

.instagramfooter, .facebookfooter, .youtubefooter, .backto {
  padding: 3px;
  width: 2.5rem;
  height: 2rem;
  align-self: center !important;
}

.divfooter {
  margin-right: 5rem;
  display: flex;
  flex-direction: row;
}

.frasefooter {
  font-size: small !important;
  margin-left: -5rem !important;
  margin-right: 1rem !important;
}
.float-end  a {
  color: black !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.float-end {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


   .imagencard{
  /* width: 45vw ; */
  border-radius: 15px;
  height: 30vh;
  /* width: fit-content; */
  /* padding: 1rem; */
}

.cardcarousel{
  padding: 0.5rem;
  display: flex;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgba(230, 175, 114, 0.466);
}



.cardcarousel:hover {
  background-color: rgba(230, 162, 84, 0.76);
}

.carousel a{
  text-decoration: none !important;
  font-size: xx-large !important;
  color: black;
}


.logoWelcome {
  width: 43vw;
}

.linkwelcome {
  font-weight: bold;
  color:rgb(32, 105, 241) !important ;
  text-decoration: none;
}

.logoheader {
  display: none;
}

.navbar {
  height: 15vh;
  display: flex;
  flex-direction: row;
}

.navbarcollapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbrand {
  padding: 2rem;
  font-size: xx-large !important;
  text-decoration: underline;
}

.logindiv {
  justify-self: flex-end !important;
  margin: 1rem;
}

.navheader {
  display: flex !important;
  margin:2rem;
  font-size: x-large !important;
  /* flex-direction: row !important; */
}


.contenedorcallto {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  width: 100%;
}

.calltoaction {
  margin-top: 3rem;
  justify-self: center !important;
  border-radius: 12px;
  display: flex !important;
  justify-content: center !important;
  background-image: url(./assets/avion.jfif);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  background-color: rgb(245, 245, 220);
  height: 50vh; 
  width: 90vw !important;
}


.buttoncallto {
          font-weight: bold;
          font-size: x-large;
          color:rgb(90, 62, 11);
          background-color: rgba(240, 248, 255, 0);
          align-self: center;
          border: solid 0.5px rgb(138, 94, 14);
          padding: 2rem;
          box-shadow: 10px 10px 5px rgb(99, 45, 25);
          border-radius: 15px;
          animation: pulse 5s infinite;
        }

@keyframes pulse {
  0% {
    background-color: rgba(124, 56, 29, 0.473);
  }
  25% {
    background-color: rgba(121, 36, 14, 0.445);
  }
  50% {
    background-color: #a152088f;

  }
  75% {
    background-color: rgba(156, 42, 13, 0.486);
  }
  100% {
    background-color: rgba(124, 56, 29, 0.473);
  }
}
        
.buttoncallto:hover {
          font-weight: bold;
          color:rgb(95, 68, 16);
          background-color: rgba(128, 36, 29, 0.568);
          align-self: center;
          border: solid 0.5px rgb(235, 116, 4);
          padding: 2rem;
          box-shadow: 8px 4px 3px rgb(105, 40, 17);
          animation: none;

        }



/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */
/* /////////////////////// */


@media (max-width: 1000px) {
  .bg-myBlue {
    background-color: rgb(89, 134, 192);
    background-image: none !important;
    height: 15vh !important;

}

.carousel {
  margin: 4rem !important;
}

.toggleheader {
  margin: 1rem;
}

.logoWelcome {
  width: 75vw;
}


.navfooter {
  /* display: none !important; */
  display: flex;
  flex-direction: row !important;
  margin: 0!important;
}


.instagramfooter, .facebookfooter, .youtubefooter, .backto {
  padding: 2.5px;
  width: 2rem;
  height: 1.5rem;
}

.footer {
  width: 100%;
}

.bg-myFooter {
  background-color: rgba(167, 86, 11, 0);
  background-image: none !important;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.divfooter {
  display: flex;
  align-self: center;
  flex-direction: row !important;
  align-items: center;
  padding: 1rem;
  padding-top: 2rem;
}

.calltoaction {
  display: none;
}

.cardcities {
  justify-self: center !important;
  width: 80% !important;
  margin: 1rem;
  justify-self: center !important;
  background-color: orange;
  filter: grayscale(40%);
  text-decoration: none !important;

}

.cardcities:hover {
  filter: grayscale(0%);
  font-size: large;
  color: rgb(231, 166, 44);
  width: 80%;
  font-weight: bold !important;
  justify-self: center !important;
  background-color: rgb(194, 92, 55);
  margin: 1rem;
  border-radius: 15px;
}

.citiesbody {
  background-color: rgb(204, 141, 24);
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
}

.portadacities {
  border-radius: 15px;
  width: 80%;
  height: 20%;
  background-color: rgb(221, 166, 48);
  align-self: center !important;
}

.portadacities img {
  padding: 2rem;
  margin: 2rem;
  border-radius: 50%;
  width: 20%;
  background-color: rgb(224, 148, 6);
  align-self: center !important;
}






}


/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */
/* ///////////////////////// */

@media (max-width: 425px) {
  

  
.bg-myBlue {
    background-color: rgb(48, 159, 211);
    background-image: none !important;
    height: 20vh !important;

}

.bg-myFooter {
  padding-left: 3rem !important;
  background-color: rgba(167, 86, 11, 0);
  background-image: none !important;
  display: flex;
  flex-direction: row;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;

}

 footer {
   width: 50vw !important;
   display: flex;
   flex-direction: column !important;
   align-self: center;
   justify-content: center !important;
 }

.carousel {
  margin: 1.7rem !important;
}

.logoWelcome {
  width: 75vw;
}

div.navbarcollapse {
  background-color: rgba(95, 158, 160, 0.842) !important;
}

.navfooter {
  /* display: none !important; */
  display: none !important;
  flex-direction: row-reverse !important;
  justify-self: left !important;
}


.instagramfooter, .facebookfooter, .youtubefooter, .backto {
  padding: 2.5px;
  width: 2.5rem;
  height: 2rem;
}

.bg-myFooter {
  background-color: rgba(167, 86, 11, 0);
  background-image: none !important;
  display: flex !important;
  flex-direction: column !important;
}



.divfooter {
  display: flex;
  align-self: center;
  flex-direction: row !important;
  align-items: center;
  padding: 1rem;
  padding-top: 2rem;
}

/* .calltoaction {
  border-radius: 50%;
} */

.buttoncallto {
  font-weight: bold;
  font-size: x-large;
  color:rgb(90, 62, 11);
  background-color: rgba(240, 248, 255, 0);
  align-self: center;
  border: solid 0.5px rgba(138, 95, 14, 0);
  box-shadow: 10px 10px 5px rgba(99, 45, 25, 0);
}

.cardcities {
  justify-self: center !important;
  width: 80% !important;
  margin: 1rem;
  justify-self: center !important;
  background-color: orange;
  filter: grayscale(40%);
  text-decoration: none !important;
}

.cardcities:hover {
  filter: grayscale(0%);
  font-size: large;
  color: rgb(231, 166, 44);
  width: 80%;
  font-weight: bold !important;
  justify-self: center !important;
  background-color: rgb(194, 92, 55);
  margin: 1rem;
  border-radius: 15px;
}

.citiesbody {
  background-color: rgb(204, 141, 24);
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center !important;
}

.portadacities {
  border-radius: 15px;
  width: 80%;
  height: 20%;
  background-color: rgb(221, 166, 48);
  align-self: center !important;
}

.portadacities img {
  padding: 2rem;
  margin: 2rem;
  border-radius: 50%;
  width: 20vw;
  background-color: rgb(224, 148, 6);
  align-self: center !important;
}






/* 
///////////////////////////////////////////////////
/////////////    //////////////   //////////////////////////
///////////////////////////////////////////////////
/////////////////    ///////   ///////////////////////////
//////////////////          /////////////////////////////// 
/////////////////////////////////////////////////// */ 

.citybody {
  display: flex;
  align-items: center;
  flex-direction: column !important;
  justify-content: space-between !important;
  width: 100%;
}

.itinerarioContainer {
  height: 90vh !important;
  border-radius: 15px;
  margin: 3rem;
  width: 100% !important; 
  align-self: center;
  background-color: rgb(129, 31, 31);
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.tituloItinerario {
  width: 100% !important;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: 50%;
  font-weight: bold;
  border-radius: 15px;
  margin: 0 !important;
  align-self: center !important;
}

.imagenItinerario {
  align-self: center;
  border-radius: 15px;
  /* padding: 1rem; */
  /* margin: 1rem; */
  height: 50%;
  background-color: rgb(200, 25, 157);
}

.infoUser {
  background-color: rgba(58, 58, 165, 0.534);
  height: 20% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 !important;
}

.infoUser h2 {
  background-color: rgba(245, 245, 220, 0.658);
  width: 80% !important;
}

.imagenRedondaUser {
  margin: 2rem;
  border-radius: 50%;
  background-color: green;
  width: 20% !important;
}

.descripcion {
  color: aliceblue;
  background-color: rgb(92, 17, 17);
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoItinerario {
  display: flex;
  flex-direction: column;
  background-color: rgb(57, 235, 21);
  padding: 1rem;
  width: 100% !important;
  border-radius: 15px;
}

.infoinfo {
  display: flex;
  justify-content: space-around;
  background-color: aqua;
}


/* ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd */
/* ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd */
/* ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd */
/* ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd */
/* ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd */
/* ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd */
/* ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd */


.backtocities {
  margin-top: 1rem !important;
  z-index: 2 !important;
  text-decoration: none !important;
  border-radius: 10px;
  padding: 0.5rem;
  color: antiquewhite;
  background-color: rgba(255, 136, 0, 0.911) !important;
  border: solid 1px rgba(255, 0, 0, 0.205);
}
.backtocitiesdic {
  margin: 1rem !important;
}

.citybody {
  border-top: solid 0.5px rgba(0, 0, 0, 0.418);
  background-color: rgba(245, 150, 8, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 100% !important;
}

.portadacity{
  background-color: rgba(100, 148, 237, 0.137);
  border-radius: 15px;
  margin: 0rem !important;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: space-around;
  width: 100% !important;
}

.portadacity img {
  width: 100% !important;
  border-radius: 15px;
}

.containerTituloPortada {
  width: 100% !important;
  margin: 1rem;
}

.portadacity h2 {
  font-size: large;
  background-color: rgba(255, 0, 0, 0);
  font-weight: bold;
  letter-spacing: 0.6rem;
}


.containerItinerary{
  box-shadow: 15px 12px 12px 11px rgba(0, 0, 0, 0.253);
  justify-self: center !important;
  width: 100% !important;
  margin: 0 !important;
  margin-top: 2rem !important;
  background-color: rgba(255, 94, 0, 0.61) !important;
  display: flex !important;
  flex-direction: column !important; 
  border-radius: 15px;
  border: solid 0.5px lightblue !important;
}

.tituloItinerary {
  border-radius: 15px 15px 0 0;
  background-color: rgba(40, 79, 150, 0.5) !important;
  padding: 1rem !important;
}

.tituloItinerary h1 {
  text-shadow: -1px 0 rgba(0, 0, 0,rgba(0, 0, 0, 0.993)1), 0 1px rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), 0 -1px rgba(0, 0, 0, 0.781);
  color: rgba(245, 245, 245, 0.836);
  letter-spacing: 1.5px !important;
  padding: 1rem;
  font-weight: bold;
}

.contenedorimageninfo {
  /* justify-content: space-evenly; */
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  justify-content: space-around;
}

.imagenYnombre {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
}

.imagenItinerary {
  width: 100% !important;
  padding: 1rem;
  border-radius: 20px;
}

.infoDerecha {
  width: 50%;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  background-color: rgba(177, 107, 15, 0);
  justify-content: center;
}

.imagenYnombre h2 {
  margin:0.5rem;
  padding: 1rem;
}

.imagenUser {
  width : 6rem;
  height : 6rem;
  border-radius: 50%;
  margin: 1rem;
}

.itineraryDescription {
  padding: 0 !important;
  width: 100% !important;
}

.itineraryDescription p {
  width: 100% !important;
}

.aboutItinerary {
  display: flex;
  flex-direction: row;
  /* margin: 2rem; */
  justify-content: space-between;
  width: 100%;
}
.aboutItinerary p {
  margin:1rem;
  pad: 0.5 rem;
}

.accordion-button.collapsed {
  border: solid 0.1px rgba(173, 216, 230, 0.658) !important;
  background-color: rgba(31, 114, 153, 0.521) !important;
}

button.accordion-button.collapsed {
  border: solid 0.1px rgba(173, 216, 230, 0.623) !important;
  background-color: rgba(31, 114, 153, 0.521) !important;
}

button.accordion-button {
  background-color: rgba(100, 148, 237, 0.322) !important;
  border: solid 0.1px rgba(173, 216, 230, 0.623) !important;
}


.viewMore {
  background-color: rgba(252, 0, 0, 0);
}


.accordion-body {
  background-color: rgba(59, 104, 143, 0.527) !important;
}
.viewMoreContenido {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 128, 0, 0) !important;
}

.actividadesItinerary {
  background-color: rgba(255, 0, 0, 0)!important;
  padding: 1rem;
}
.comentariosItinerary {
  background-color: rgba(255, 0, 0, 0.048)!important;
  padding: 1rem;
}




}


/* //////////CITIES */


.logoloader {
  opacity: 20%;
  width: 100%;
  animation: rotation 5s infinite linear;
}


.cardcities {
  justify-self: center !important;
  width: 25vw;
  margin: 1rem;
  border-radius: 15px;
  background-color: rgba(255, 166, 0, 0.746);
  filter: grayscale(40%);
  text-decoration: none !important;
  box-shadow: 15px 12px 12px 11px rgba(0, 0, 0, 0.096);
}

.cardcities:hover {
  filter: grayscale(0%);
  font-size: large;
  color: rgb(231, 166, 44);
  font-weight: bold !important;
  justify-self: center !important;
  width: 25vw;
  background-color: rgba(194, 92, 55, 0.863);
  margin: 1rem;
  border-radius: 15px;
  box-shadow: 15px 12px 12px 11px rgba(0, 0, 0, 0.192);

}

.citiesbody {
  background-color: rgba(45, 133, 149, 0);
  display: flex !important;
  justify-content: center !important;
  flex-direction: row;
  align-items: center !important;
  flex-wrap: wrap !important;
  border-top: solid rgba(0, 0, 0, 0.192) 0.5px;  
}

.portadacities {
  margin-top: 1rem;
  border-radius: 15px;
  width: 80vw;
  height: 20%;
  background-color: rgb(221, 166, 48);
  align-self: center !important;
  background-image: url(./assets/valijaciudad.jpg);
  background-size: cover;
  background-position: right 80%;
  background-repeat: no-repeat;
}

.portadacities {
  display: flex !important;
  flex-direction: column !important;
}
.portadacities img {
  padding: 2rem;
  margin: 2rem;
  border-radius: 50%;
  width: 20vw;
  background-color: rgba(224, 148, 6, 0);
  align-self: center !important;
  animation: rotation 10s infinite linear;
}

.citiesSearch {
  width: 40%;
  align-self: flex-start !important;
  color: antiquewhite;
  margin:1rem;
  background-color: rgba(212, 195, 99, 0.52);;
  text-align: left;
  padding: 0.4rem;
  border-radius: 10px;

}

.divCitiesSearch {
  width: 100% !important;

}

.citiesSearch:focus {
  margin:1rem;
  background-color: rgba(94, 89, 65, 0.637);
  text-align: left;
  padding: 0.5rem;
}

.citiesSearch::placeholder {
  color: antiquewhite;
}

.citiesSearch:focus::placeholder {
  color: rgba(240, 248, 255, 0.02);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
  
}


/* ////////////////////////////////////////// */
/* /////////////////////CITY/////////////////// */

/* .citybody {
  display: flex;
  align-items: center;
  flex-direction: column !important;
  justify-content: space-between !important;
  width: 100%;
} */



.alertaSearch {
  border-radius: 12px !important;
  background-color:rgba(194, 92, 55, 0.753) !important;
  color: rgba(231, 166, 44, 0.849) !important;
  border: none !important;

}

/* 
///////////////////////////////////////////////////
/////////////    //////////////   //////////////////////////
///////////////////////////////////////////////////
/////////////////    ///////   ///////////////////////////
//////////////////          /////////////////////////////// 
/////////////////////////////////////////////////// */




.backtocities {
  margin-top: 1rem !important;
  z-index: 1 !important;
  text-decoration: none !important;
  border-radius: 10px;
  padding: 0.5rem;
  color: antiquewhite;
  background-color: rgba(255, 136, 0, 0.486);
  border: solid 1px rgba(255, 0, 0, 0.205);
}
.backtocitiesdic {
  margin: 1rem !important;
}

.citybody {
  border-top: solid 0.5px rgba(0, 0, 0, 0.418);
  background-color: rgba(245, 150, 8, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  width: 100% !important;
}

.portadacity{
  background-color: rgba(100, 148, 237, 0.137);
  border-radius: 15px;
  margin: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.portadacity img {
  /* margin: 2rem !important; */
  width: 50% !important;
  border-radius: 15px;
}

.containerTituloPortada {
  width: 50%;
}

.portadacity h2 {
  font-size: xx-large;
  background-color: rgba(255, 0, 0, 0);
  /* padding: 1rem;
  padding-left: 5rem; */
  /* width: 50%; */
  font-weight: bold;
  letter-spacing: 0.6rem;
  text-shadow: 14px 10px 5px rgba(0, 0, 0, 0.164);

}


.containerItinerary{
  box-shadow: 15px 12px 12px 11px rgba(0, 0, 0, 0.253);
  justify-self: center !important;
  width: 70%;
  margin: 1rem;
  background-color: rgba(255, 94, 0, 0.479);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: solid 0.5px lightblue !important;
}

.tituloItinerary {
  border-radius: 15px 15px 0 0;
  background-color: rgb(40, 78, 150);
}

.tituloItinerary h1 {
  text-shadow: -1px 0 rgba(0, 0, 0,rgba(0, 0, 0, 0.993)1), 0 1px rgba(0, 0, 0, 0.781), 1px 0 rgba(0, 0, 0, 0.801), 0 -1px rgba(0, 0, 0, 0.781);
  color: rgba(245, 245, 245, 0.753);
  letter-spacing: 2px;
  padding: 1rem;
  font-weight: bold;
}

.contenedorimageninfo {
  /* justify-content: space-evenly; */
  display: flex !important;
  flex-direction: row !important;
  height: 100%;
  justify-content: space-around;
}

.imagenYnombre {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imagenItinerary {
  width: 50%;
  padding: 1rem;
  border-radius: 20px;
}

.infoDerecha {
  width: 50%;
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  background-color: rgba(177, 107, 15, 0);
  justify-content: center;
}

.imagenYnombre h2 {
  margin:0.5rem;
  padding: 1rem;

}

.imagenUser {
  width : 6rem;
  height : 6rem;
  border-radius: 50%;
  margin: 1rem;
}

.itineraryDescription {
  padding: 1rem
}

.aboutItinerary {
  display: flex;
  flex-direction: row;
  /* margin: 2rem; */
  justify-content: space-between;
  width: 100%;
}
.aboutItinerary p {
  margin:1rem;
  pad: 0.5 rem;
}

.accordion-button.collapsed {
  border: solid 0.1px rgba(173, 216, 230, 0.658) !important;
  background-color: rgba(31, 114, 153, 0.521) !important;
}

button.accordion-button {
  border: solid 0.1px rgba(173, 216, 230, 0.623) !important;
  background-color: rgba(31, 114, 153, 0.521) !important;
}

button.accordion-button {
  background-color: rgba(100, 148, 237, 0.322) !important;
  border: solid 0.1px rgba(173, 216, 230, 0.623) !important;
}


.viewMore {
  background-color: rgba(252, 0, 0, 0);
}


.accordion-body {
  background-color: rgba(59, 104, 143, 0.527) !important;
}
.viewMoreContenido {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 128, 0, 0) !important;
}

.actividadesItinerary {
  background-color: rgba(255, 0, 0, 0)!important;
  padding: 1rem;
}
.comentariosItinerary {
  background-color: rgba(255, 0, 0, 0.048)!important;
  padding: 1rem;
}